<%= form_with(model: trip) do |form| %>

  <% if trip.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(trip.errors.count, "error") %> prohibited this trip from being saved:</h2>

      <ul>
        <% trip.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name_of_trip,style: "display: block" %>
    <%= form.text_area :name_of_trip%>
    <%= form.label :name, style: "display: block" %>
    <%= form.select :name, Trip.trip_types.to_a %>
    
    <%= form.number_field :day, min: 1, max: 3, :value => 1%>
    <%= form.date_field :when%>
    <%= form.number_field :total_day%>
  </div>

  <div>
    <%= form.submit%>
  </div>
<% end %>
