<!--<% content_for(:title, @trip.trip_types) %>-->

<% shared = current_page?('/shared_trip') %>

<!--showの内容-->
<div class="container-fluid">
  <div class="d-flex justify-content-between">
    <div class="my-3 mx-5 ms-4 col-4">
        <h2>
        <%= @trip.name_of_trip %>
        </h2>
        <h4>
        <%= "行き先: #{Trip.trip_types.keys[@trip.name]}"%>
        </h4>
    </div>
      
    <div class="mt-4 ps-5 col-3">
      <% if !shared %>
        <% if @trip.share_key.nil? %>
          <%= button_to "共有する",share_trip_path(@trip),class:"btn btn-outline-primary"%>
        <% else %>
          <div data-controller="clipboard">
            URL: <input data-clipboard-target="source" type="text" value= <%="#{shared_trip_url}?h=#{@trip.share_key}"%> readonly>
            <a href="#" class="btn btn-secondary" 
               data-clipboard-target="copy_button" 
               data-action="clipboard#copy">
              <i class="bi bi-clipboard"></i> Copy to Clipboard
            </a>
          </div>
          <%#= "#{shared_trip_url}?h=#{@trip.share_key}" %>
        <% end %>
        <%= link_to "一覧に戻る", trips_path, class:"btn btn-dark ms-1"%>
      <% end %>
    </div>
  </div>
</div>

<div class="container">
  <div class="d-flex justify-content-around">
    <div class="col-6">
      <div class="trip_contents_text_area_margin">
        <% @trip.trip_contents.order(timestamp: :ASC).where.not(id: nil).each do |trip_content| %>
          <div class="mb-3">
             <%= l trip_content.timestamp, format: :short %></br>
             <div class="border rounded-3 bg-light trip_contents_text_area">
               <%= trip_content.content%>
             </div>
             <% if !shared %>
               <%= link_to "編集", edit_trip_trip_content_path(@trip,trip_content), class:"btn btn-outline-secondary btn-sm"%>
               <%= link_to "削除", trip_trip_content_path(@trip,trip_content), data: { turbo_method: :delete }, class:"btn btn-outline-danger btn-sm"%></br>
             <% end %>
          </div>
        <% end %>
      </div>
    </div>
    
    <!--inputの内容-->
    <div class="col text-end mt-3">  
      <% if !shared %>
        <%= form_with model: @trip_content, scope: :trip_content,url: trip_trip_contents_path(@trip), local: true do |form| %>
          <div>
            <%= form.datetime_field :timestamp,class:"input_trip_contents_datetime_field border rounded-3 bg-light" %></br>
            <%= form.text_area :content, class:"input_trip_contents_text_area border rounded-3" %></br>
            <%= form.submit "予定を追加する", class:"float-end mt-3 btn btn-success" %>
          </div>
        <% end %>
      <% end %>
    </div>
   </div>
</div>
<% if !shared %>
  <%= button_to "この旅程を削除する", @trip, method: :delete, class:"btn btn-outline-danger me-5 my-3 float-end" %>
<% end %>