<!--<% content_for(:title, @trip.trip_types) %>-->

<%= render @trip %>

<% @trip.trip_contents.each do |trip| %>
     <%= trip.timestamp.strftime('%T') %>
     <%= trip.content %>,</td>
     <!--<%#= link_to "編集", edit_trip_trip_content_path(@trip)%>-->
     <!--<%#= link_to "削除", trip_path(@trip), method: :delete%>-->
<% end %>

<div>
  <%= link_to "Edit this trip", edit_trip_path(@trip) %> |
  <%= link_to "Back to trips", trips_path %>

  <%= button_to "Destroy this trip", @trip, method: :delete %>
</div>
