<% content_for(:title, 'パスワードリセット') %>
<div class="text-center">
    <h2 class="m-5">パスワードリセット</h2>
    
    <%= form_with(model: @user, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= render "users/shared/error_messages", resource: resource %>
        <div class="container">
          <div class="row">
            <div class="field mb-3">
              <%= f.label :email, class:"pe-5 me-5" %><br />
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"col" %>
              <%= f.submit "送信", class:"mb-1 btn btn-outline-secondary btn-sm col" %>
            </div>
          </div>
        </div>
    <% end %>
    
    <%= render "users/shared/links" %>
</div>
