<!DOCTYPE html>
<html>
  <head>
    <title><%= page_title(yield(:title)) %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header>
      <p>Travel Share</p>
      <% if user_signed_in?%>
        <%= render "shared/logged_in_header"%>
          
      <%else%>
        <%= render "shared/not_logged_in_header"%>
      <%end%>
    </header>
    
    <% flash.each do |message_type, message| %>
      <%= content_tag :div, message, class: message_type %>
    <% end %>
    <%= yield %>
  </body>
</html>
